.themed-nav {
    position: relative;
    width: 95%;
    margin: 0 auto;
    background: #034694;
    border-radius: 5px;
    z-index: 1;

    &.sticky {
        column-gap: 0.5rem;
        width: 100%;
        position: fixed;
        left: 0;
        z-index: 1;

        .themed-nav__top-bar-content .news-reel {
          width: calc(var(--DesktopWidth) - 420px);
        }

        .themed-nav__content {
            column-gap: .5rem;
            &-brand img {
                height: 37.5px;
                width: 37.5px;
                top: 2.75rem;
                right: 0;
            }
        }
      }
    

    &__top-bar {
        height: 3rem;
        width: 100%;
        color: #fff;
        background: #222;
        padding: .5rem 1rem;
        display: flex;
        justify-content: center;
        border-radius: 5px 5px 0 0;
        box-shadow: 0 1px 4px 0 rgba(0,0,0,.4);
        position: relative;
        z-index: 1;

        &-content {
            position: relative;
            line-height: 2.5rem;
            display: grid;
            column-gap: 2rem;
            align-items: center;
            grid-template-columns: 1fr 10rem;
            justify-items: end;

            .news-reel {
                width: calc(var(--DesktopWidth) - 550px);
            }
        }

        .corp-brand {
            justify-self: flex-start;
            display: none;
            h4 {
                color: #fff;
                font-size: 1rem;
                font-weight: 600;
                letter-spacing: -.5px;
            }
        }

        .main-sponsors { 
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            column-gap: .5rem;
            position: relative;
            overflow: hidden;
            height: 100%;
            &-item {

                img {
                    max-width: 100%;
                    object-fit: cover;
                    max-height: 100%;
                }
            }
        }
    }

    &__content {
        display: flex;
        justify-content: space-between;
        height: 4rem;
        column-gap: 1rem;

        &::after {
            content: none;
            position: absolute;
            width: 100%;
            transform: skewX(50deg);
            display: block;
            height: 4rem;
            background: #034694;
            top: 3rem;
            width: 70%;
            right: 120px;
        }
        
        &-brand {
            height: 128px;
            width: 128px;
            position: relative;
            top: -2rem;
            left: 1.5rem;
            z-index: 1;

            img {
                height: 128px;
                width: 128px;
                object-fit: cover;
                position: absolute;
                transition: all .3s ease;
            }
        }

        &-list {
            padding: 0;
            display: flex;
            justify-content: space-between;
            grid-column-gap: 1rem;
            column-gap: 1rem;
            align-items: center;
            position: relative;
            z-index: 1;


            &-item {
                list-style: none;
                line-height: 4rem;
                background: linear-gradient(var(--ClubNavLinksFontColor), var(--ClubNavLinksFontColor));
                background-size: 0 4px, auto;
                height: 100%;
                background-repeat: no-repeat;
                background-position: center bottom;
                transition: all .25s ease-out;
                transition: all .25s ease-out;

                &.active,
                &:hover {
                    background-size: 100% 4px, auto;
                    transition-delay: .4s;
                }
                
                &-link {
                    color: #fff;
                    text-decoration: none;
                    font-size: 16px;
                    font-weight: 600;
                    text-transform: uppercase;
                    z-index: 1;
                    height: 100%;
                    width: 100%;
                    transition: border ease-in-out .5s;
                }
            }
        }
    

        &-account-options {
            display: flex;
            justify-content: space-around;
            padding-left: 0;
            height: 100%;
            background: #fff;
            position: relative;
            border-radius: 0 0 5px 0;
            background: #000;
            width: 9rem;

            &:before {
                content: '';
                position: absolute;
                width: 100%;
                transform: skewX(50deg);
                display: block;
                height: 4rem;
                background: var(--ClubFooterColor);
                top: 0rem;
                right: 40px;
            }

            &-content {
                display: flex;
                align-items: center;
                column-gap: .5rem;
                position: relative;
            }

            button {
                background: transparent;
                appearance: none;
                -webkit-appearance: none;
                grid-column-gap: .25rem;
                column-gap: .25rem;
                border: 0;
                display: flex;
                align-items: center;
                font-size: 16px;
                position: relative;
                z-index: 1;
                color: #fff;
                font-weight: 600;
                cursor: pointer;
                height: 100%;

                i {
                    font-size: 20px;
                }
            }
        }
        
    }
}