.media-menu {
    width: 100%;
    padding-top: 2rem;
    margin-bottom: -2rem;
    &__content {
        width: var(--DesktopWidth);
        height: 5rem;
        display: flex;
        align-items: center;
        margin: 0 auto;
        position: relative;
        column-gap: 5rem;
        justify-content: center;

        .btn-wrap {
            width: 120px;
            height: 3rem;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;

            a {
                position: relative;
                z-index: 1;
                color: var(--ClubNavLinksFontColor);
                background: var(--ClubPrimaryColor);
                text-decoration: none;
                font-weight: 500;
                text-transform: uppercase;
                display: grid;
                align-items: center;
                width: 100%;
                height: 100%;
            }
            
            &:before {
                content: '';
                position: absolute;
                width: 100%;
                transform: skewX(50deg);
                display: block;
                height: 3rem;
                background: var(--ClubPrimaryColor);
                top: 0rem;
                right: 40px;
                z-index: 0;
            }

            &:after {
                content: '';
                position: absolute;
                width: 100%;
                transform: skewX(50deg);
                display: block;
                height: 3rem;
                background: var(--ClubPrimaryColor);
                top: 0rem;
                left: 40px;
                z-index: 0;
            }
        }

        .btn-wrap:first-child {

            a {
                color: var(--ClubFooterLinksColor);
                background: var(--ClubFooterColor);
            }
            
            &:before {
                content: '';
                position: absolute;
                width: 100%;
                transform: skewX(50deg);
                display: block;
                height: 3rem;
                background: var(--ClubFooterColor);
                top: 0rem;
                right: 40px;
                z-index: 0;
            }

            &:after {
                content: '';
                position: absolute;
                width: 100%;
                transform: skewX(50deg);
                display: block;
                height: 3rem;
                background: var(--ClubFooterColor);
                top: 0rem;
                left: 40px;
                z-index: 0;
            }
        }
    }


}