.si-home{
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;

    &__content {
        display:  flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;

        &-imgFrame {
            position: relative;
            height: 100%;

            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }

        &-textOptions {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 0 30px;
            height: 100%;
            width: 100%;
            max-width: 750px;

            h2 {
                font-size: 52px;
                color: rgba(0, 0, 0, 0.888);
                line-height: 50px;
                margin-bottom: .65rem;
                position: relative;
                font-weight: 600;

                span {
                    display: block;
                    color: rgba(0,0,0,.5788);
                    font-size: 18px;
                    font-weight: 500;
                }

                &::after {
                    content: '';
                    border-bottom: 4px solid var(--SIPrimaryColor);
                    width: 100px;
                    height: 1rem;
                    position: absolute;
                    bottom: -5px;
                    left: 0;
                }
            }

            .btn-group {
                display: flex;
                margin-top: 1rem;
                row-gap: 1rem;
                flex-direction: column;

                .btn {
                    display: block;
                    text-align: center;
                    width: 280px;
                    font-size: 20px;
                    border-radius: 5px;

                    &:nth-child(2) {
                        background: transparent;
                        color: var(--SIPrimaryColor);
                        border: 2px solid var(--SIPrimaryColor);

                        &:hover {
                            color: #fff;
                            border-color: var(--SIPrimaryColor);
                        }
                    }
                }
                
            }
        }
    }
}