/***Ripple Hover button design***/
.rippleButtonsBody {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 400px;
    padding: 1rem;
    background: #222;
    column-gap: 1rem;
}
  
.btn.ripple {
  position: relative;
  display: inline-flex;
  padding: 10px 30px;
  background: var(--SIAltColor);
  font-size: 14px;
  line-height: 25px;
  color: #fff;
  font-weight: 500;
  text-decoration: none;
  letter-spacing: 1px;
  overflow: hidden;
  border-radius: 5px;
  outline: none;
  border: 0;
  cursor: pointer;

  &.outline {
    background: transparent;
    border: 2px solid var(--SIPrimaryColor);;
    color: var(--SIPrimaryColor);;

    &:hover {
      border-color: var(--SIPrimaryColor);
      color: #fff;
    }
  }

    span {
      position: relative;
      z-index: 1;
    }

    &::before {
      content: "";
      position: absolute;
      top: var(--y);
      left: var(--x);
      transform: translate(-50%, -50%);
      width: 0px;
      height: 0px;
      border-radius: 50%;
      background-color: var(--SIPrimaryColor);
      transition: width 0.5s, height 0.5s;
      z-index: -1;
    }

    &:hover::before{
      width: 300px;
      height: 300px;
    }
}

  
  
  /***End Ripple Hover button design***/