
.form-group {
    &-date {
        display: grid;
        grid-auto-flow: column;
        border-radius: var(--SIborder-radius);
        height: 48px;
        border: 2px solid #e1e1e1;
        position: relative;
        overflow: hidden;
        color: #333;
        padding: 0 5px;
        align-items: center;
        justify-content: center;
        bottom: -5px;
        width: 100%;
        
        .select-wrap,
        .date-input {
          border: 0;
          text-align: center;
          padding: 0 1rem;
          outline: none;
          position: relative;
          font-weight: inherit;
          font-size: inherit;
          color: inherit;
          justify-self: center;
          width: 100%;
          -webkit-appearance: none;
          cursor: pointer;
          
        }
    }
}  