.w-widget {
    grid-area: auto / auto / auto / span 2;
    // transition: height .05s ease;
    height: var(--SICard-Height);
    width: 100%;
    cursor: pointer;

    .selected-arrow {
        width: 100%;
        position: relative;
        margin: 0 auto;
        top: 52px;
        z-index: 1;
        left: 50%;

        &:after {
            transition: bottom 0.25s ease-out, opacity 0.01s ease-out 0.01s;
            opacity: 0;
            content: '';
            position: absolute;
            pointer-events: none;
            bottom: 1em;
            left: 50%;
            border-color: #f1f1f1 transparent transparent transparent;
            border-width: 10px;
            border-style: solid;
            bottom: 0;
        }
    }
  

    .images-viewer {
        margin-top: 2rem;
        padding: 0rem;
        display: none;
        align-items: center;
        transition: all .3s ease;
        border-radius: var(--ClubCardRadius);
        position: absolute;
        left: 0;
        overflow: hidden;
        

        &:after {
            background: #333;
            content: '';
            position: absolute;
            height: 100%;
            width: 100vw;
            top: 0;
            right: 0;
        }

        &:before {
            background: #333;
            content: '';
            position: absolute;
            height: 100%;
            width: 100vw;
            top: 0;
        }

        &__content  {
            height: 500px;
            width: 100%;
            z-index: 1;
            padding: 2rem;
        }
    }

    &.active {
        height: 1060px;
        
        .selected-arrow {
            &:after {  
                opacity: 1;
            }
        }

        .images-viewer {
            display: flex;
            overflow: unset;
        }
    }
}

.images-card{
    grid-area: auto / auto / auto / span 2;
    position: relative;
    height: var(--SICard-Height);
    border-radius: var(--ClubCardRadius);
    overflow: hidden;

    &__content {
        width: 100%;
        height: 100%;
        position: relative;
        padding: 1rem;
        &-tag {
            color: var(--ClubNavLinksFontColor);
            background: var(--ClubPrimaryColor);
        }

        &-imageBox {
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: absolute;
                left: 0;
                top: 0;
            }
        }

        &-infoBox {
            width: 50%;
            height: 100%;
            position: relative;
            display: flex;
            align-items: flex-end;
            padding: 1rem;
            left: 0;
            overflow: hidden;
            transition: .3s ease;
            border-radius: var(--ClubCardRadius);
            box-shadow: 20px 20px 50px rgba(0, 0, 0, .5);
            background: rgba(255, 255, 255, 0.1);
            backdrop-filter: blur(5px);
            z-index: 1;
            border-top: 1px solid rgba(255, 255, 255, 0.5);
            border-left: 1px solid rgba(255, 255, 255, 0.5);
            float: right;

            &:before {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                background: rgba(0,0,0,.3);
                width: 100%;
                height: 100%;
            }

            .images-count {
                position: absolute;
                top: 10px;
                left: 10px;
                font-size: 2.5rem;
                color: rgba(255, 255, 255, 0.3);
                pointer-events: none;

                span  {
                    font-size: 2.5rem;
                    display: inline-block;
                    color: rgba(255, 255, 255, 0.3);
                    font-weight: 700;
                }
            }

            h1 {
                font-size: 1.8rem;
                color: #fff;
                font-weight: 600;
                z-index: 1;
                text-transform: capitalize;
                line-height: 32px;
                position: relative;

                span {
                    display: block;
                    font-size: .8rem;
                    color: #fff;
                    font-weight: 300;
                }
            }
        }
    }
}