.si-password {
    width: 100%;

    &__container {
        position: relative;
        width: 100%;
        height: 95px;
        transition: height .3s ease;

        .form-text-entry {
            padding-right: 55px;
        }
    }

    &__showBtn {
        position: absolute;
        right: 10px;
        bottom: 4px;
        transform: translateY(-45%);
        cursor: pointer;
        font-size: 14px;
        font-weight: 600;
        color: rgba(0,0,0,.499);
        text-transform: uppercase;
        opacity: 0;
        transition: .3s ease;
    }

    &__indicator {
        height: 5px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 10px 0;
        opacity: 0;
        transition: all .3s ease;

        span {
            width: 100%;
            height: 100%;
            background: grey;
            border-radius: var(--SIborder-radius);
            position: relative;

            &.medium {
                margin: 0 5px;
            }

            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border-radius: var(--SIborder-radius);
            }
            &.active.weak::before {
                background: #c0392b;
            }
            
            &.active.medium::before {
                background: #2980b9;
            }

            &.active.strong::before {
                background: #27ae60;
            }
        }

        &-text {
            font-size: 13px;
            font-weight: 500;
            color: rgba(0,0,0,.799);
            opacity: 0;
            transition: all .3s ease;

            &.active.weak {
                color: #c0392b;
            }
            &.medium {
                color: #2980b9;
            }

            &.strong {
                
                color: #27ae60;
            }
        }
    }

}