.si-register {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;

    &__content {
        display: flex;
        justify-content: center;
        height: 100%;
        

        &-formArea {
            height: 100%;
            width: 70%;
            padding: 0 60px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            position: relative;

            h1 {
                max-width: 700px;
                width: 100%;
                font-size: 52px;
                line-height: 55px;
                font-weight: 600;
                color: rgba(0,0,0, 0.888);
                letter-spacing: -.5px;
                position: relative;
                margin-bottom: 1rem;

                &::after {
                    content: '';
                    border-bottom: 4px solid var(--SISecondaryColor);
                    width: 100px;
                    height: 1rem;
                    position: absolute;
                    bottom: -12.5px;
                    left: 0;
                }

                span {
                    display: block;
                    font-size: 16px;
                    font-weight: 500;
                    color: rgba(0,0,0,.5788);
                    line-height: 26px;
                    margin-top: .5rem;

                    a {
                        color: var(--SIPrimaryColor);
                    }
                }  
            }

            form {
                max-width: 700px;
                width: 100%;

                label {
                    font-size: 13px;
                    color: rgba(0,0,0,.82);
                }

                .form-group {
                    margin-top: 1rem;
                }

                .form-options {
                    margin-top: 1rem;
                    .btn {
                        width: 100%;
                        font-size: 16px;
                        line-height: 38px;
                        display: flex;
                        justify-content: center;
                        position: relative;
                        padding: 10px 30px;
                        background: var(--SIAltColor);
                        color: #fff;
                        font-weight: 500;
                        text-decoration: none;
                        letter-spacing: 1px;
                        overflow: hidden;
                        border-radius: 5px;
                        outline: none;
                        border: 0;
                        cursor: pointer;

                        &:hover {
                            background: var(--SIPrimaryColor);
                        }
                    }

                    a.btn {
                        display: flex;
                        grid-auto-flow: column;
                        align-items: center;
                        justify-content: space-between;
                    }
                    
    
                    .checkbox-custom input[type="checkbox"] + label {
                        font-weight: 400;
                    }
                }
            }

            .form-terms {
                font-size: 13px;
                line-height: 24px;
                font-weight: 400;
                margin-top: 3rem;
                width: 100%;
                max-width: 600px;
                text-align: center;

                a {
                    color: var(--SIPrimaryColor);
                }
            }
            
        }

        &-imgFrame {
            width: 40%;
            

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                opacity: 1;
                transition: opacity .3s ease;
            }
        }
    }
}

.nav-header.register {
    width: 63%;
    padding: 0 2rem;

    h1 {
        font-size: 2rem;
    }

    .responsive-menu {
        padding: 1rem 0;
        justify-self: end;
        margin: 0;
    }

    .btn-group {
        display: none;
    }
}