.team-card {
    position: relative;
    height: var(--SICard-Height);
    border-radius: var(--ClubCardRadius);
    overflow: hidden;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.4);

    &.wide {
        grid-area: auto / auto / auto / span 3;
        width: auto;

        .team-card__content-text--content {
            margin-left: 15rem;
        }
    }

    &:hover {
        .team-card__content-imageBox {
            img {
                transform: scale(1.25);
            }
        }
    }
    
    

    &__content {
        position: relative;
        width: 100%;
        height: 100%;

        &-imageBox {
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;

            img {
                position: absolute;
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: var(--ClubTransitionSpeed);
            }
        }

        &-text {
            display: flex;
            justify-content: center;
            flex-direction: column;
            height: 100%;
            position: relative;
            padding: 2rem;
            z-index: 1;

            &--content {
                position: relative;
                max-width: 45%;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                margin-left: 5rem;
                padding: 10px .5rem;
                z-index: 1;

                &:before {
                    content: '';
                    position: absolute;
                    width: 100%;
                    transform: skewX(
                50deg
                );
                    display: block;
                    height: 5rem;
                    background: var(--ClubFooterColor);
                    top: 0rem;
                    right: 40px;
                }

                &:after {
                    content: '';
                    position: absolute;
                    width: 100%;
                    transform: skewX(
                50deg
                );
                    display: block;
                    height: 5rem;
                    background: var(--ClubFooterColor);
                    top: 0rem;
                    left: 40px;
                }

                h1 {
                   color: var(--ClubFooterLinksColor);
                   z-index: 1;
                   position: relative;
                   width: 100%; 
                   font-weight: 700;
                   font-size: 35px;
                   line-height: 35px;
                   text-transform: capitalize;
                }

                h4 {
                    color: rgba(255,255,255,.75);
                    z-index: 1;
                    position: relative;
                    width: 100%; 
                    font-weight: 600;
                    font-size: 15px;
                    text-transform: lowercase;
                }
            }

            &:after {
                content: '';
                background: rgba(0,0,0, .3);
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                transform: skewY(30deg);
                border-bottom: 5px solid var(--ClubPrimaryColor);
                border-top: 5px solid var(--ClubPrimaryColor);
            }

            
        }

        &-brand {
            height: 2rem;
            width: 2rem;
            position: absolute;
            bottom: 10px;
            right: 10px;
            filter: grayscale(4);

            img {
                height: 100%;
                width: 100%;
            }
        }
    }
}