.util-card {
    height: var(--SICard-Height);
    width: var(--SICard-Width);
    position: relative;
    overflow: hidden;
    border-radius: var(--ClubCardRadius);

    
    &__content {
        position: relative;
        display: flex;
        align-items: flex-end;
        height: 100%;
        width: 100%;

        &-tag {
            background: var(--ClubFooterColor);
            color: var(--ClubFooterLinksColor);         
        }


        &-imageBox {
            position: absolute;
            width: 100%;
            height: 100%;
            overflow: hidden;
            
            &::after {
                display: block;
                background: linear-gradient(180deg, transparent 10%, #000 100%) !important;
                height: 60%;
                width: 100%;
                position: absolute;
                bottom: 0;
            }

            img {
                position: absolute;
                width: 100%;
                height: 100%;
                object-fit: cover;
                left: 0;
            }
        }

        &-play-btn {
            position: absolute;
            height: 100%;
            width: 100%;
            z-index: 1;
            cursor: pointer;

            &__container {
                color: #fff;
                top: .5rem;
                right: 10px;
                position: absolute;
                font-size: 30px;
                background: var(--ClubPrimaryColor);
                border-radius: var(--ClubButtonRadius);
                color: var(--ClubNavLinksFontColor);
                display: flex;
                justify-content: center;
                align-items: center;
                width: 2rem;
                height: 2rem;
                padding-left: 5px;
            }
        }

        &-captionOptions {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            position: relative;
            row-gap: 1rem;
            padding: 1rem;
            background: rgba(0,0,0,.5);
            border-left: 5px solid var(--ClubPrimaryColor);
            height: 45%;

            &-brand {
                position: relative;
                width: 4rem;
                max-width: 4rem;
                height: 4rem;
                overflow: hidden;
                display: flex;
                align-items: flex-end;

                img {
                    max-width: 100%;
                    max-height: 100%;
                }
            }

            &-caption {
                width: 100%;
                overflow: hidden;
                h2 {
                    font-family: var(--SeondaryFont);
                    font-size: 28px;
                    font-weight: 500;
                    color: #fff;
                    width: 100%;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }
            }

            &-footer {
                width: 100%;
                display: flex;
                justify-content: space-between;
                .news-card__content-footer-author {
                    .name {
                        color: #fff
                    }
                }
                
                .news-card__content-footer-date {
                    .timeSince {
                        color: #fff
                    }
                }
            }

            .btn.util {
                font-size: 14px;
                font-weight: 500;
                border-radius: var(--ClubCardRadius);
                background: var(--ClubPrimaryColor);
                color: var(--ClubNavLinksFontColor);
                max-width: 12rem;
            }
        }
    }
}
