.opportunities-menu {
    background: #fff;
    border-radius: var(--ClubCardRadius);
    box-shadow: 0 3px 4px rgba(0,0,0,.1);
    height: max-content;

    &__content {
        padding: 1rem 1.5rem;

        form {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            .form-group.custom-hold {
                &:nth-child(1) { 
                    z-index: 1006;
                }
                &:nth-child(2) { 
                    z-index: 1005;
                }
                &:nth-child(3) { 
                    z-index: 1004;
                }
                &:nth-child(4) { 
                    z-index: 1003;
                }
                &:nth-child(5) { 
                    z-index: 1002;
                }
            }

            h1 {
                font-weight: 500;
                font-size: 24px;
                line-height: 30px;
                color: rgba(0,0,0, 1);

                span {
                    font-size: 14px;
                    line-height: 20px;
                    font-weight: 300;
                    display: block;
                    color: rgba(0,0,0,.6);
                }
            }

            .btn {
                width: 100%;
                font-size: 16px;
                font-weight: 400;
                background: var(--ClubPrimaryColor);
                color: var(--ClubNavLinksFontColor);
                border-radius: var(--ClubButtonRadius);
            }
        }
    }

    &__footer {
        background: #f9f9f9;
        height: 250px;
    }
}