@keyframes show_toast {
    0% {
        transform: translateX(-100%);
    }
    40% {
        transform: translateX(10%);
    }
    80%,100% {
        transform: translateX(20px);
    }
}

@keyframes hide_toast {
    0% {
        transform: translateX(20px);
    }
    40% {
        transform: translateX(10%);
    }
    80%,100% {
        opacity: 0;
        pointer-events: none;
        transform: translateX(-100%);
    }
}

.si-toast {
    position: absolute;
    top: 20px;
    left: 20px;
    animation: show_toast 1s ease forwards;
    z-index: 1000;

    &.hide {
        animation: hide_toast 1s ease forwards;
        
    }

    &__content {
        background: #fff;
        padding: 20px 15px 20px 20px;
        border-radius: var(--SIborder-radius);
        width: 430px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-shadow: 1px 7px 14px -5px rgba(0,0,0,0.15);
        border-left: 5px solid var(--SIAltColor);

        &.error {
            border-left: 5px solid var(--SIErrorColor);
        }

        &.success {
            border-left: 5px solid var(--SISuccessColor);
        }

        &-details {
            display: flex;
            align-items: center;

            &-text {
                margin-left: 15px;

                p {
                    font-size: 20px;
                    font-weight: 600;
                    color: rgba(0,0,0,0.888);

                    span {
                        display: block;
                        font-size: 14px;
                        color: rgba(0,0,0,0.6);
                        font-weight: 400;
                    }
                }
            }

            &-icon {
                font-size: 35px;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: var(--SIAltColor);
                height: 50px;
                width: 50px;
                line-height: 50px;
                border-radius: 50%;
                color: #fff;
            }

            .error & {
                &-icon {
                    background: var(--SIErrorColor);
                }
            }

            .success & {
                &-icon {
                    background: var(--SISuccessColor);
                }
            }
        }

        &-close {
            width: 40px;
            height: 40px;
            background-color: #f2f2f2;
            border-radius: 50%;
            cursor: pointer;
            text-align: center;
            font-size: 24px;
            color: rgba(0, 0, 0, 0.566);
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}