.form-text-entry {
    height: 48px;
    width: 100%;
    padding: 0 0.75rem;
    border: 2px solid #e1e1e1;
    border-radius: var(--SIborder-radius);
    box-shadow: 0 3px 2px -5px rgba(0, 0, 0, 0.27);
    font-size: 16px;
    line-height: 24px;
    position: relative;
    margin-top: 0.25rem;
    outline: none;
    transition: border-color ease-in-out 0.4s;
    display: block;
    color: #343434;

    &:disabled {
        background: #f1f1f1;
    }

    &:active,
    &:focus {
        border-bottom-color: var(--SIPrimaryColor);
    }

    &.error {
        border-color: var(--SIErrorColor)
    }

}