.si-tabs {
    max-width: 900px;
    width: 100%;
    background: #fff;
    margin: 0 auto;
    border-radius: var(--SIborder-radius);
    

    &__content {
        background: #f9f9f9;
        border-radius: var(--SIborder-radius);
        min-height: 10rem;
        padding: 20px 20px;
        box-shadow: 0 5px 10px rgba(0,0,0,.12);

        input[type="radio"] {
            display: none;
        }
        #free:checked ~ &-nav .slider {
            left: 7%;
        }

        #premium:checked ~ &-nav .slider {
            left: 40%;
        }

        #vip:checked ~ &-nav .slider {
            left: 74%;
        }

        #premium:checked ~ &-nav label.premium,
        #vip:checked ~ &-nav label.vip,
        #free:checked ~ &-nav label.free {
            color: #fff;
        }

        &-nav {
            display: flex;
            align-items: center;
            position: relative;
            column-gap: .5rem;

            label {
                display: block;
                border-radius: var(--SIborder-radius);
                height: 100%;
                width: 100%;
                text-align: center;
                line-height: 50px;
                cursor: pointer;
                color: rgba(0, 0, 0, 0.788);
                position: relative;
                z-index: 1;
                transition: all .3s ease;
                font-weight: 500;

                i {
                    padding-right: 7px;
                }
            }

            .slider {
                position: absolute;
                height: 100%;
                width: 20%;
                background: var(--SIPrimaryColor);
                border-radius: var(--SIborder-radius);
                z-index: 0;
                left: 0;
                bottom: 0;
                transition: all .3s ease;
            }
        }
    }
}