.theme-component.cards {
    background: radial-gradient(#777, #222);
}

.news-card {
    height: 26rem;
    width: 340px;
    position: relative;
    background: #fff;
    border-radius: var(--ClubCardRadius);
    overflow: hidden;
    box-shadow: 20px 20px 50px rgba(0,0,0, .5);

    &__content {
        position: relative;
        display: flex;
        flex-direction: column;

        &-tag {
            position: absolute;
            background: var(--ClubTagsBgColor);
            color: var(--ClubTagsFontColor);
            border-radius: 3px;
            padding: .1rem .35rem;
            right: 10px;
            top: 10px;
            font-size: .85rem;
            font-weight: 500;
        }

        &-imageBox {
            height: 13rem;
            width: 100%;
            position: relative;
            overflow: hidden;

            &:hover {
                img {
                    transform: scale(1.5);
                }
            }
            
            img {
                position: absolute;
                width: 100%;
                height: 100%;
                object-fit: cover;
                transform-origin: top;
                transition: var(--ClubTransitionSpeed);
            }
        }

        &-text {
            height: 10rem;
            padding: .75rem 1rem;

            &-header {
                position: relative;
                overflow: hidden;
                margin-bottom: .5rem;

                h2 {
                    font-size: 20px;
                    font-weight: 600;
                    line-height: 27px;
                }
            }

            &-description {
                p {
                    font-size: .9rem;
                    font-weight: 400;
                    opacity: .8;
                    line-height: 22px;
                }
            }
        }

        &-footer {
            display: flex;
            justify-content: space-between;
            height: 3rem;
            padding: 0 1rem .5rem 1rem;
            align-items: center;

            &-author {
                display: flex;
                justify-content: space-between;
                grid-column-gap: .5rem;
                column-gap: .5rem;
                position: relative;
                height: 45px;
                align-items: center;

                .name {
                    font-size: .8rem;
                    color: rgba(0,0,0,.8);
                    font-weight: 500;
                    position: relative;
                    padding-left: 7.5px;
                    display: grid;
                    grid-auto-flow: row;

                    &::before {
                        content: "";
                        border-left: 1px solid rgba(0,0,0,.3);
                        height: 100%;
                        position: absolute;
                        bottom: 0;
                        display: block;
                        left: 0;
                    }

                    .function {
                        font-weight: 200;
                    }
                }

                img {
                    height: 40px;
                    border-radius: 100%;
                    object-fit: cover;

                }
            }
            
            &-date {
                align-self: flex-end;
                .timeSince {
                    font-size: .75rem;
                    color: rgba(0, 0, 0, 0.8);
                    font-weight: 400;
                }
            }
        }
    }
}