.breadcrumb {
    background: #fff;
    height: 3rem;
    width: 100%;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.1);

    &__content {
        margin: 0 auto;
        display: flex;
        height: 100%;
        align-items: center;
        grid-column-gap: 1rem;
        column-gap: 1.5rem;
        position: relative;
        width: calc(var(--DesktopWidth) - 340px);
        
        a {
            color: rgba(0,0,0,.4);
            text-decoration: none;
            font-size: 14px;
            text-transform: capitalize;
            position: relative;
            padding: 2.5px 10px;
            transition: all .3s ease;

            &:last-child.active {
                color: #fff;
                background: rgba(0,0,0,.4);
                border-radius: 5px;
            }

            &:hover {
                color: #fff;
                background: rgba(0,0,0,.4);
                border-radius: 5px;
            }

            &:not(:last-child) {
                &:after {
                content: '/';
                color: rgba(0,0,0,.4);
                right: -10.5px;
                position: absolute;
                display: block;
                top: 50%;
                transform: translate(50%, -50%);
            }
            }
        }
    }
}