.rangeSlider-container  {
    width: 100%;
  .slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%; 
    height: 48px;
    margin-top: 4px;
    background: #e1e1e1;
    outline: none;
    opacity: 0.8;
    -webkit-transition: .2s;
    transition: opacity .2s;
    border-radius: var(--SIborder-radius);

    &:hover {
        opacity: 1;
    }

    &::-webkit-slider-thumb {
        -webkit-appearance: none; 
        appearance: none;
        width: 60px; 
        height: 48px;
        background: var(--SIAltColor);
        cursor: pointer; 
        border-radius: var(--SIborder-radius);
      }

    &::-moz-range-thumb {
        width: 60px; 
        height: 20px;
        background: var(--SIAltColor);
        cursor: pointer; 
      }
  }
}