@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root {
  --SIPrimaryColor: #2980b9;
  --SISecondaryColor: #ffa502;
  --SIAltColor: #2f3542;
  --SIErrorColor: #c0392b;
  --SISuccessColor: #27ae60;
  --SIborder-radius: 3px;
  --SICard-Height: 26.24rem;
  --SICard-Width: 340px;
  --ClubPrimaryColor: black;
  --ClubSecondaryColor: grey;
  --ClubAltColor: #000;
  --ClubFooterColor: #000;
  --ClubFooterLinksColor: #fff;
  --ClubFooterLinksTextCasing: capitalize;
  --ClubNavLinksFontColor: #fff;
  --ClubNavLinksTextCasing: uppercase;
  --ClubSecondaryFontColor: #000;
  --ClubTagsBgColor: var(--ClubPrimaryColor);
  --ClubTagsFontColor: var(--ClubNavLinksFontColor);
  --ClubCardRadius: 5px;
  --ClubButtonRadius: 5px;
  --ClubImageZoom: scale(1.5);
  --ClubTransitionSpeed: all 1s ease;
  --ClubSponsorsDisplay: block;
  --DesktopWidth: 1400px;
  --LaptopWidth: var(--DesktopWidth);
  --SeondaryFont: 'Bebas Neue', cursive;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
}

@-webkit-keyframes fade {
  0% {
    opacity: 0.6;
  }

  50% {
    opacity: 0.8;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade {
  0% {
    opacity: 0.6;
  }

  65% {
    opacity: 0.8;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes animatebottom {
  from {
    bottom: -300px;
    opacity: 0;
  }

  to {
    bottom: 0px;
    opacity: 1;
  }
}

@keyframes animatebottom {
  from {
    bottom: -300px;
    opacity: 0;
  }

  to {
    bottom: 0;
    opacity: 1;
  }
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #fff;
  width: 100%;
  overflow-x: hidden;
}

.components {
  display: flex;
  column-gap: 2rem;
  row-gap: 2rem;
  align-content: space-between;
  justify-content: center;
  flex-wrap: wrap;
  padding: 2rem;
  background: #fff;
}

.btn {
  position: relative;
  display: grid;
  justify-self: left;
  padding: 10px 30px;
  background: #363636;
  color: #fff;
  text-decoration: none;
  letter-spacing: 0px;
  overflow: hidden;
  border-radius: var(--SIborder-radius);
  outline: none;
  border: 0;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.btn:hover {
  transform: translateY(-5%);
}

.split-group {
  display: flex;
  justify-content: space-between;
  column-gap: 1rem;
}

.form-group {
  width: 100%;
  position: relative;
  z-index: 10;

  label {
    font-size: 13px;
    color: rgba(0, 0, 0, 0.82);
    position: relative;

    span.value {
        color: var(--SIPrimaryColor);
        padding-left: 15px;
        position: relative;
        font-weight: 500;

        &::before {
          content: '';
          position: absolute;
          border-left: 1px solid rgba(0,0,0,.2);
          left: 5px;
          height: 90%;
          bottom: 00;
        }
    }
  }

  &.custom-hold {
    z-index: 1000;
  }

  .css-1c2hm3b-control,
  .css-dqvfze-control,
  .css-18ej5a0-control {
    border: 2px solid;
    border-color: #e1e1e1;
    box-shadow: 0 3px 2px -5px rgba(0, 0, 0, .27);
    &:hover {
      border-color: #e1e1e1;
      outline: none;
      box-shadow: none;
    }
  }
}


.select-input-holder {
  display: flex;
  border-radius: var(--SIborder-radius);
  height: 48px;
  border: 2px solid #e1e1e1;
  position: relative;
  overflow: hidden;
  color: #333;
  padding: 0 5px;
  align-items: center;
  bottom: -3px;
  width: 100%;
}

.select-wrap,
.select-input {
  border: 0;
  text-align: center;
  padding: 0 5px;
  outline: none;
  position: relative;
  font-weight: inherit;
  font-size: inherit;
  color: inherit;
  justify-self: center;
  width: 100%;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
}

.select-wrap {
  &::after {
    content: "\005E";
    transform: rotate(180deg);
    position: absolute;
    right: 5px;
    display: block;
    bottom: 12%;
    color: rgba(0,0,0,.45);
    font-size: 12px;
    pointer-events: none;
    z-index: 1;
    transition: all .3s ease;
  }
}


/* Preview options */
.contains-preview {
  margin-top: 2rem;
  border-top: 1px solid #e1e1e1;
  padding-top: 2rem;
}


.theme-component {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 1rem auto;
  background: #161623;
  overflow: hidden;
  border-radius: var(--ClubCardRadius);

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#f00, #f0f);
    -webkit-clip-path: circle(30% at right 70%);
    clip-path: circle(30% at right 70%);
  }
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#2196f3, #e91e63);
    -webkit-clip-path: circle(20% at 10% 10%);
    clip-path: circle(20% at 10% 10%);
  }

  &.alt {

    &::after {
      background: linear-gradient(var(--SISecondaryColor), var(--SIErrorColor));
    }

    &::before { 
      background: linear-gradient(var(--SIPrimaryColor), var(--SIAltColor));
    }
  }

  &__content {
    position: relative;
    width: 100%;
    padding: 1rem 0;
    border-radius: var(--ClubCardRadius);
    background: rgba(255, 255, 255, 0.1);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    z-index: 1;
    overflow: hidden;
    backface-visibility: hidden;
  }
  
  &-header {
    color: #fff;
    font-size: .9rem;
    margin: 0;
    position: absolute;
    top: 0;
    font-weight: 400;
    left: 0px;
    background: rgba(0,0,0,.45);
    padding: .5rem .5rem;
    border-radius: var(--SIborder-radius) 0 0 0;
}

  .branding-preview {
    display: flex;
    justify-content: center;
    column-gap: 1rem;
    align-items: center;

    .branding {
      &-lg {
        width: 300px;
        img {
          width: 100%;
        }
      }

      &-mid {
        width: 150px;
        justify-self: end;
        img {
          width: 100%;
        }
      }

      &-sm {
        width: 64px;
        img {
          width: 100%;
        }
      }
    }
  }
}

.input-addon {
  display: grid;
  justify-content: space-between;
  grid-template-columns: 1fr 15rem;
  align-items: center;

  input[type="tel"],
  input[type="text"]
  input[type="password"],
  input[type="url"] {
    border-right: 0;
    border-radius: var(--SIborder-radius) 0 0 var(--SIborder-radius);

  }

  input[type="file"] {
    opacity: 0;
    width: 0;
  }

  .addon-upload {
    color: #fff;
    height: 48px;
    text-align: center;
    display: grid;
    align-items: center;
    padding: 0;
    border-radius: 0 var(--SIborder-radius) var(--SIborder-radius) 0;
    margin-top: 4px;
    transform: none;
    font-size: 16px;
    transition: opacity .3s ease;
    width: 100%;
    
    &.btn {
      &:hover {
        opacity: .9;
      }
    }
    
  }
}

.club {
  width: 100%;
  min-width: 100vw;
  min-height: 100vh;
  height: 100%;

  .themed-nav {
      width: 100%;
      margin: 0 auto;
      background: var(--ClubPrimaryColor);
      border-radius: 0px;
      box-shadow: 0 1px 4px 0 rgba(0,0,0,.4);

      &__content {
          max-width: var(--DesktopWidth);
          column-gap: 1rem;
          display: grid;
          margin: 0 auto;
          grid-template-columns: 10rem 1fr 12rem;

          &-brand {
            background-size: cover;
            background-repeat: no-repeat;
            z-index: 10;
          }

          &-list {
            height: 4rem;
            justify-content: flex-start;
            &-item { 
              background: linear-gradient(var(--ClubNavLinksFontColor), var(--ClubNavLinksFontColor));
              background-size: 0 4px, auto;
              height: 100%;
              background-repeat: no-repeat;
              background-position: center bottom;
              transition: all .25s ease-out;
              transition: all .25s ease-out;

              &:hover {
                background-size: 100% 4px, auto;
                transition-delay: .4s;
              }
              
              &-link { 
                color: var(--ClubNavLinksFontColor);
                font-size: 14.5px;
                font-weight: 700;
              }
  
              .mega-element {
                height: 0;
                overflow: hidden;
                position: fixed;
                opacity: 0;
                background: #f9f9f9;
                width: 100%;
                max-width: var(--DesktopWidth);
                left: 50%;
                transform: translate(-50%, 0%);
                z-index: 10;
                border-radius: 0 0 5px 5px;
                box-shadow: 0 1px 4px 0 rgba(0,0,0,.1);
                transition: opacity .3s ease;
              }
  
              &:hover {
                .mega-element {
                  opacity: 1;
                  height: 400px;
                  padding: 30px;
                }
              }
            }
          }
 
          &-account-options {
            display: flex;
            height: 4rem;
            position: relative;
            border-radius: 0;
            z-index: 1;
            padding-left: 0;
            width: auto;

            &:after {
              content: '';
              position: absolute;
              width: 100%;
              transform: skewX(50deg);
              display: block;
              height: 4rem;
              background: var(--ClubFooterColor);
              top: 0rem;
              left: 40px;
          }

            & > div {
              display: flex;
              column-gap: 1rem;
            }

              button {
                font-size: 14px;
                font-weight: 400;
                color: var(--ClubFooterLinksColor);
              }
          }
      }
  }

  &-carousel {
    position: relative;
    z-index: 0;
    background: rgb(249, 249, 249);
    height: 50vh;

      &-item {
        height: 100%;
        width: 100%;
        position: relative;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          position: absolute;
        }

        &.active {
          .club-carousel-item-content-textBox {
            opacity: 1;
            transform: translateX(0);
          }
        }

        &-content {
          max-width: var(--DesktopWidth);
          width: 100%;
          height: 100%;
          position: relative;
          display: flex;
          align-items: center;
          margin: 0 auto;



          &-textBox {
            background: rgba(0,0,0,.7);
            border-left: 5px solid var(--ClubPrimaryColor);
            box-shadow: 0px 14px 30px rgba(#333, .2);
            display: grid;
            grid-template-columns: 1fr;
            row-gap: 1.5rem;
            justify-items: start;
            width: 30rem;
            padding: 1.5rem 1rem;
            border-radius: var(--ClubCardRadius);
            transition: opacity .35s ease, transform .4s ease;
            transform: translateX(400px);
            opacity: 0;
            
            h1 {
              font-weight: 700;
              text-transform: uppercase;
              font-size: 38px;
              line-height: 48px;
              color: #fff;
            }

            &-buttonHold {
              
              .btn {
                background: var(--ClubPrimaryColor);
                border-radius: var(--ClubButtonRadius);
                font-weight: 600;
                text-transform: uppercase;
                font-size: 16px;
              }
            }
          }
        }
      }


    .carouselBody {
      background: #f9f9f9;
      margin: 0 auto;
      position: relative;
      min-height: auto;
      
      .article_slider {
        max-width: 1000px;
        width: 100%;
        box-shadow: 0px 14px 30px rgba(#333, .2);
        transition: all var(--ClubTransitionSpeed);
        border-radius: var(--ClubCardRadius);
  
        &__img {
          background-image: linear-gradient(147deg, var(--ClubPrimaryColor) 0%, var(--ClubFooterColor) 74%);
          border-radius: var(--ClubCardRadius);
          img {
            border-radius: var(--ClubCardRadius);
            transition: var(--ClubTransitionSpeed);
          }
        }
  
        &__content {
          .btn {
            background: var(--ClubPrimaryColor);
            border-radius: var(--ClubButtonRadius);
          }
        }
  
          &__pagination {
  
            .swiper-pagination-bullet {
              background: var(--ClubFooterColor);
  
              &-active {
                background: var(--ClubPrimaryColor);
                box-shadow: rgba(var(--ClubFooterColor), .3);
              } 
            }
  
          } 
      }
  
      span.carousel-brand {
        background: var(--ClubBackgroundImage);
        background-repeat: no-repeat;
        background-size: cover;
        filter: grayscale(1);
      }
    }
  }

  .subscribe-panel {
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: center;
    background-color: var(--ClubFooterColor);
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.4);
    position: relative;

    &:after {
      content:  '';
      background: rgba(0, 0, 0, .27);
      position: absolute;
      width: 100%;
      height: 100%;
      display: block;
    }

    &-content {
      width: 100%;
      max-width: var(--DesktopWidth);
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
      z-index: 1;

      .caption {
        color: var(--ClubFooterLinksColor);
        h1 {
          font-size: 26px;
          font-weight: 600;
  
          span {
            display: block;
            font-size: 14px;
            color: rgba(255, 255, 255,.8);
            font-weight: 400;
          }
        }
      }
  
        .btn {
          font-size: 16px;
          border-radius: var(--ClubButtonRadius);
          background: var(--ClubPrimaryColor);
          font-weight: 500;
        }
    }
  }

  .news {
    &-content {
        margin: 0 auto;
        width: var(--DesktopWidth);
        padding: 4rem 0;
        position: relative;

        &-header {
            position: relative;

            &::after {
                content: '';
                position: absolute;
                border-bottom: 4px solid var(--ClubPrimaryColor);
                left: 0;
                bottom: -10px;
                display: block;
                width: 75px;
            }

            h1 {
                font-size: 35px;
                font-weight: 600;
                line-height: 32px;
                color: rgba(0,0,0,.788);
                display: flex;
                align-items: center;
                column-gap: .5rem;
                text-transform: uppercase;
                letter-spacing: -.5px;

                span {
                    font-size: 13px;
                    font-weight: 400;
                    color: rgba(0, 0, 0, 0.6);
                    text-transform: capitalize;
                }
            }
        }

        &-cards {
            margin-top: 2rem;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 2rem 1rem;

            &.row-6 {
              grid-template-columns: repeat(6, 1fr);
            }
        }
    }
}

  .mid {
    min-height: 20rem;
    width: 100%;
    background: #f1f1f1;
    position: relative;
    z-index: 0;
  }

  .footer {
    position: relative;
    bottom: 0;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.4);
    left: 0;

    &__club-sponsors {
      display: var(--ClubSponsorsDisplay); 
      &-content {
        width: 100%;
        padding: 20px 60px;
        max-width: 650px;
        margin: 0 auto;
      }
    }

    &__content {
      height: auto;
      background: var(--ClubFooterColor);
      &-links {       
        max-width: var(--DesktopWidth);
        margin: 0 auto;
        padding: 20px 0;

         a {
           font-size:14px;
            text-transform: var(--ClubFooterLinksTextCasing);
         }

        &-club-brand {

          h4  {
            font-size: 1.25rem;
            font-weight: 700;
          }
        }
      }
    }
  }
}

.quick-link-item {
  position: absolute;
  right: -99%;
  top: 50%;
  transition: all .3s ease;
  width: 100%;
  display: none;

      &:hover {
        a {
          width: 12rem;
          span {
            left: 0px;
            opacity: 1;
          }

          i {
            right: -50px;
            font-size: 10rem;
          }
        }
    }


    &__content {
      height: 100%;
      width: 100%;      
      transition: all .2s ease;

      a {
        color: var(--ClubFooterLinksColor);
        position: relative;
        overflow: hidden;
        background: var(--ClubFooterColor);
        display: flex;
        align-items: center;
        padding: .5rem;
        text-decoration: none;
        column-gap: .5rem;
        font-weight: 500;
        width: 2.5rem;
        height: 2.5rem;
        transition: width .2s ease;
        border-radius: 5px;
        
        span {
          position: relative;
          left: -100px;
          opacity: 0;
          transition: left .3s ease, opacity .35s ease;
        }

        i {
          font-size: 1.5rem;
          position: absolute;
        }
      }
    }
}

.tag {
  position: absolute;
  border-radius: var(--ClubCardRadius);
  padding: .1rem .35rem;
  left: 10px;
  top: 10px;
  font-size: .85rem;
  font-weight: 500;
  z-index: 1;
}




