@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;900&display=swap");

:root {
  --clubPrimaryColor: black;
  --clubSecondaryColor: grey;
  --clubPrimaryFontColor: #000;
  --clubSecondaryFontColor: #000;
  --clubCardRadius: 10px;
  --clubTransitionSpeed: .4s; 
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #fff;
  width: 100%;
  overflow-x: hidden;
}

.components {
  display: flex;
  column-gap: 2rem;
  row-gap: 2rem;
  align-content: space-between;
  justify-content: center;
  flex-wrap: wrap;
  padding: 2rem;
  background: #fff;
}
























