@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;900&display=swap");

:root {
  --SIPrimaryColor: #2980b9;
  --SISecondaryColor: #ffa502;
  --SIAltColor: #2f3542;
  --SIErrorColor:#c0392b;
  --SIborder-radius: 3px;
  --clubPrimaryColor: black;
  --clubSecondaryColor: grey;
  --clubPrimaryFontColor: #000;
  --clubSecondaryFontColor: #000;
  --clubCardRadius: 10px;
  --clubTransitionSpeed: .4s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #fff;
  width: 100%;
  overflow-x: hidden;
}

.components {
  display: flex;
  column-gap: 2rem;
  row-gap: 2rem;
  align-content: space-between;
  justify-content: center;
  flex-wrap: wrap;
  padding: 2rem;
  background: #fff;
}

.btn {
  position: relative;
  display: block;
  padding: 10px 30px;
  background: #363636;
  color: #fff;
  text-decoration: none;
  letter-spacing: 1px;
  overflow: hidden;
  border-radius: var(--SIborder-radius);
  outline: none;
  border: 0;
  cursor: pointer; 
  transition: transform .3s ease;
}

.btn:hover {
  transform: translateY(-5%);
}

.split-group {
  display: flex;
  justify-content: space-between;
  column-gap: 1rem;
}

.form-group {
  width: 100%;
  position: relative;
}
























