/*** Comment Design ****/
.commentBody {
    position: relative;
    min-height: 500px;
    width: 450px;
    overflow: hidden;
    background: white;
    box-shadow: rgb(0 0 0 / 15%) 0px 4px 12px;
  }
  
  .chat-body {
    transition: transform 0.6s cubic-bezier(0.23, 1, 0.32, 1) 0s,
      opacity 0.6s cubic-bezier(0.23, 1, 0.32, 1) 0s;
  }
  
  .chat-body .header-responses {
    padding: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  .chat-body .header-responses h2 {
    font-size: 20px;
    font-weight: 600;
    color: rgba(41, 41, 41, 1);
    line-height: 20px;
    letter-spacing: -0.5px;
    opacity: 0.6565;
  }
  
  .chat-body .header-responses .icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
  }
  
  .chat-body .header-responses .icons .icons-icon {
    font-size: 25px;
    color: #555;
    margin: 0 2.5px;
  }
  
  .chat-body .chat-body-text-area {
    font-size: 20px;
    font-weight: 400;
    color: rgba(41, 41, 41, 1);
    font-size: 14px;
  }
  
  .chat-body .chat-body-text-area-container {
    padding: 0px 24px;
    margin-bottom: 20px;
    display: block;
  }
  
  .reply-section.chat-body .chat-body-text-area-container {
    padding: 0 0 0 1rem;
    border-left: 5px solid rgba(117, 117, 117, 0.5959);
    margin-left: 0.5rem;
  }
  
  .reply-section {
    height: 0;
    overflow: hidden;
    opacity: 0;
    transition: height 0.4s ease, opacity 0.4s ease;
  }
  
  .reply-section.active {
    height: auto;
    opacity: 1;
  }
  
  .chat-body .chat-body-text-area-container .chat-box {
    padding: 14px 0;
    transition: height 0.4s ease 0s, padding-top 400ms ease 0s,
      padding-bottom 400ms ease 0s;
    box-shadow: rgb(0 0 0 / 12%) 0px 2px 8px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    background: #fff;
    line-height: 24px;
    color: rgba(41, 41, 41, 1);
    height: 5rem;
    overflow: hidden;
  }
  
  .chat-body .chat-body-text-area-container .chat-box.active {
    height: auto;
  }
  
  .chat-box-input {
    width: 375px;
    height: 50px;
    border: 0;
    outline: none;
    resize: none;
    overflow: hidden;
    word-wrap: break-word;
    transition: height 0.2s ease;
    line-height: 24px;
  }
  
  .reply-section.chat-body .chat-box-input {
    width: 350px;
  }
  
  .chat-box-input::placeholder {
    opacity: 0.555;
  }
  
  .chat-body .chat-body-text-area-container .chat-box .image-name {
    margin-bottom: 6px;
    height: 0;
    max-height: 100px;
    padding: 5px 14px;
    opacity: 0;
    transition: all 0.5s ease;
  }
  
  .chat-body .chat-body-text-area-container .chat-box.active .image-name {
    display: flex;
    opacity: 1;
    height: auto;
  }
  
  .chat-body .chat-body-text-area-container .chat-box .image-name .imgBox img {
    width: 32px;
    border-radius: 50%;
  }
  
  .chat-body .chat-body-text-area-container .chat-box .image-name .name {
    margin-left: 12px;
    align-items: flex-start;
    display: flex;
  }
  
  .chat-body .chat-body-text-area-container .chat-box .chat-box-text-area {
    padding: 0 14px;
    line-height: 24px;
    color: rgba(41, 41, 41, 1);
  }
  
  .chat-body
    .chat-body-text-area-container
    .chat-box
    .chat-box-text-area
    .chat-box-text-area-placeholder {
    pointer-events: none;
    display: inline-block;
    width: 0px;
    max-width: 100%;
    white-space: nowrap;
    opacity: 0.333;
    user-select: none;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
  }
  
  .chat-box-text-area-textbox {
    outline: none;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    min-height: 100px;
    padding-bottom: 1rem;
    transition: height 0.4s ease;
  }
  
  .chat-box-text-area-cta {
    max-height: 100px;
    transition: opacity 400ms ease 0s, max-height 400ms ease 0s;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .chat-box-text-area-cta .word-count {
    font-size: 14px;
    opacity: 0.333;
  }
  
  .chat-box-text-area-cta-btns {
    transition: opacity 400ms ease 0s, max-height 400ms ease 0s;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .chat-box-text-area-cta-btns .btn {
    text-decoration: none;
    padding: 4px 12px 6px;
    line-height: 20px;
    font-size: 14px;
    border: none;
    color: #fff;
    border-radius: 99em;
    cursor: pointer;
    position: relative;
  }
  
  .chat-box-text-area-cta-btns .btn .text {
    position: relative;
    z-index: 100;
  }
  
  .chat-box-text-area-cta-btns .btn:disabled {
    opacity: 0.3;
  }
  
  .chat-box-text-area-cta-btns .btn::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    border-radius: 99rem;
    left: 0;
    top: 0;
  }
  
  .btn.btn-white {
    background: #fff;
    color: rgba(41, 41, 41, 1);
  }
  
  .chat-box-text-area-cta-btns .btn.btn-green::before {
    background: rgb(26, 137, 23);
    fill: rgba(255, 255, 255, 1);
  }
  
  .chat-underline {
    margin: 1rem 0;
    font-size: 13px;
    line-height: 20px;
    color: rgba(117, 117, 117, 1);
  }
  
  .comments-sort {
    padding: 24px;
    border-bottom: 1px solid rgb(230, 230, 230);
  }
  
  .comments-sort button {
    outline: none;
    text-transform: uppercase;
    color: rgba(41, 41, 41, 1);
    font-size: 12px;
    font-weight: 600;
    padding: 5px 0;
    border: none;
    outline: none;
    background: #fff;
  }
  
  .comments-comment {
    padding: 24px 24px 13px 24px;
    position: relative;
    margin-bottom: 0;
  }
  
  .comments-comment::after {
    content: "";
    width: 90%;
    position: absolute;
    left: 5%;
    border-top: 1px solid rgb(230, 230, 230);
    height: 100%;
    margin: 10px 0;
  }
  
  .comments-comment .profile-menu {
    display: flex;
    justify-content: space-between;
  }
  
  .comments-comment .profile-menu-imageName .imgBox {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border-radius: 99rem;
    overflow: hidden;
  }
  
  .comments-comment .profile-menu-imageName .imgBox img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  
  .comments-comment .profile-menu-imageName {
    display: flex;
    font-size: 13.5px;
    color: rgba(41, 41, 41, 1);
    line-height: 20px;
    align-items: center;
  }
  
  .comments-comment .profile-menu-imageName p {
    margin-left: 10px;
    letter-spacing: -0.25px;
    font-weight: 500;
  }
  
  .comments-comment .profile-menu-imageName .sub-text {
    display: block;
    color: rgba(117, 117, 117, 1);
    font-weight: 400;
  }
  
  .comments-comment .menu-icon {
    font-size: 25px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
  }
  
  .comments-comment .comment-opt {
    position: relative;
  }
  
  .comments-comment .comment-opt::after {
    content: " ";
    position: absolute;
    top: -10%;
    left: 50%;
    margin-left: -7px;
    border-width: 7px;
    border-style: solid;
    border-color: #fff transparent transparent transparent;
  }
  
  .comments-comment .comment-opt-menu {
    position: absolute;
    top: 0px;
    left: -110px;
    background: #fff;
    padding: 5px 10px;
    box-shadow: rgb(0 0 0 / 15%) 0px 4px 12px;
    width: 9rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    opacity: 0;
    transition: top .4s ease, opacity .4s ease;
    pointer-events: none;
  }
  
  .comments-comment .comment-opt.active .comment-opt-menu {
    top: -35px;
    opacity: 1;
    pointer-events:unset;
  }
  
  .comments-comment .comment-opt-menu button {
    background: transparent;
    border: 0;
    font-size: 14px;
    color: #c0392b;
    font-weight: 400;
  }
  
  .comments-comment .comments-comment-content {
    margin-top: 10px;
    word-break: break-word;
    line-height: 24px;
    color: rgba(41, 41, 41, 1);
    font-size: 13.5px;
  }
  
  .comments-comment .comment-reaction {
    margin: 20px 0 14px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .comments-comment .comment-reaction .comment-reaction-icons {
    display: flex;
    align-items: center;
    font-weight: 300;
  }
  
  .comments-comment .comment-reaction .comment-reaction-icons ion-icon,
  .comments-comment .comment-reaction .comment-reaction-icons i {
    font-size: 24px;
    margin-right: 5px;
  }
  
  .comments-comment .icon-responses {
    margin-left: 12px;
  }
  
  .comments-comment .comment-reaction .reaction-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .comments-comment .comment-reaction .reaction-icons .text,
  .comments-comment .comment-reaction .reaction-icons .counter {
    font-size: 14px;
    color: #777;
  }
  
  .comments-comment .comment-reaction .comment-replyBtn {
    align-self: flex-end;
    background: #fff;
    border: none;
    font-size: 14px;
    outline: none;
    cursor: pointer;
  }
  
  .comments-comment .comment-reaction .comment-replyBtn:hover {
    text-decoration: underline;
  }
  /****End Comments Design****/