.club {
    .news {
        &-content {
            margin: 0 auto;
            width: var(--DesktopWidth);
            padding: 4rem 0;

            &-header {
                position: relative;

                &::after {
                    content: '';
                    position: absolute;
                    border-bottom: 4px solid var(--ClubPrimaryColor);
                    left: 0;
                    bottom: -10px;
                    display: block;
                    width: 75px;
                }

                h1 {
                    font-size: 35px;
                    font-weight: 600;
                    line-height: 32px;
                    color: rgba(0,0,0,.788);
                    display: flex;
                    align-items: center;
                    column-gap: .5rem;

                    span {
                        font-size: 13px;
                        font-weight: 400;
                        color: rgba(0, 0, 0, 0.6);
                        text-transform: uppercase;
                    }
                }
            }

            &-cards {
                margin-top: 2rem;
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                gap: 1rem;
            }
        }
    }
}